name: Build docs
on:
  push:
    branches:
      - master
jobs:
  build-and-deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Remove previous docs
        run: rm -rf docs
      - name: Build docs
        run: ./build-docs.sh
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@ba1486788b0490a235422264426c45848eac35c6 # v4.4.1
        with:
          branch: docs # The branch the action should deploy to.
          folder: docs # The folder the action should deploy.
