on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Authenticate with GCP
        id: auth
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3
        with:
          credentials_json: ${{ secrets.GCP_ACCOUNT_KEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@e427ad8a34f8676edf47cf7d7925499adf3eb74f # v2

      - name: Remove previous local docs
        run: rm -rf docs

      - name: Build docs
        run: ./build-docs.sh

      - name: Publish to GCS
        run: |
          gsutil rm -r gs://cognite-seismic-api-docs/proto || true
          gsutil cp -r docs/docs gs://cognite-seismic-api-docs/proto
          gsutil cp CHANGELOG.md gs://cognite-seismic-api-docs/proto/CHANGELOG.md
